# ===========================
# Dataset
# ===========================
data/

# ===========================
# Trained Models
# ===========================
saved_models/*.pth

# ===========================
# Generated Results
# ===========================
results/plots/*.png
results/confusion_matrix/*.png
results/predictions/*.csv
results/*.json

# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo

# ===========================
# Jupyter
# ===========================
.ipynb_checkpoints/

# ===========================
# macOS
# ===========================
.DS_Store

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Python Virtual Environments
# ===========================
venv/
.venv/
env/

# ===========================
# Environment Variables
# ===========================
.env